<h1><%= @dish.name %></h1>
<%= @dish.description %>
<h3>Ingredients</h3>
<% @dish.ingredients.each do |ingredient| %>
  <li><%= ingredient.name %></li>
<% end %>
<p>Total Calorie Count: <%= @dish.total_calories %></p>
<p>Chef: <%= @dish.chef.name %></p>
